<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark deep-purple darken-4 scrolling-navbar ie-nav navbar-height" [containerInside]="false">


  <logo>
      <a class="logo navbar-brand" href="#"><strong>   <i class="fas fa-bars"></i> SBTask</strong></a>
  </logo>
  <links>
      <ul class="navbar-nav mr-auto centering">
          <li class="nav-item waves-light"  mdbWavesEffect>
              <a class="nav-link">Tasks </a>
          </li>
          <li class="nav-item active waves-light" mdbWavesEffect>
              <a class="nav-link">Users<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link">Activity</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link">Members</a>
          </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-life-ring" aria-hidden="true"></i>Support</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
          </li>
      </ul>
  </links>
</mdb-navbar>
