/* global styles */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

$md-btn-color: #fff;

body {
    background-color: #ededed;
    font-family: 'Lato', sans-serif;
}


.navbar.navbar-dark .navbar-nav .nav-item.active  {
  .nav-link {
    background-color: rgba(0, 0, 0, 0) !important;
  }
}

